*,
*::before,
*::after {
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
}

img {
    max-width: 100%;
}

body {
    font-family: "Verdana", "Arial", sans-serif;
    background-color: #535252;
}

.app {
    max-width: 500px;
    padding: 40px 15px;
    margin: 0 auto;
}

.card {
    padding: 40px 40px;
    background-color: white;
    border-radius: 8px;
}

.main-title {
    margin-top: 0;
    margin-bottom: 30px;
    font-size: 22px;
    text-align: center;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 30px;
}

.desc {
    text-align: center;
    margin-top: 0;
    margin-bottom: 28px;
}

.btn {
    background-color: blue;
    color: white;
    border-radius: 8px;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    transition: background-color .3s;
}

.btn:hover {
    background-color: blueviolet;
}

.btn:active {
    background-color: darkblue;
}

.center-wrap {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.text-field {
    display: block;
    width: 100%;
    padding: 12px 24px;
    border: 1px solid rgb(162, 162, 162);
    border-radius: 8px;
}

.text-field:focus {
    border-color: rgb(42, 49, 255);
}

.link {
    color: gray;
    transition: color .3s;
}

.link:hover {
    color: rgb(42, 49, 255);
}